.navabar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navabar .logo{
    width: max(10%,80px);
}

.navabar .profile{
    width: 40px;
    border-radius: 50%;
}